body{
    background-color: rgb(46, 36, 36);
    margin: 0;
    font-family: "Poppins";
}
.profile h1{
    color: white;
    font-size: 40px;
    font-family: fantasy;
}
.profile .input input{
    display: block;
    width: 500px;
    height: 50px;
    font-size: larger;
    border-radius: 10px;
    border: none;
}
.profile button{
    height: 50px;
    width: 200px;
    border: none;
}
.profile button a{
    color: black;
    text-decoration: none;
}
.profile button:hover{
    background: linear-gradient( white, #343131);
}
